.button {
    border: 2px solid;
    border-color: #003399;
    color: #003399;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    border-width: 2px;
    border-color: #003399;
    color: #ffffff;
    background-color: #003399;
}

input[type="submit" i] {
    border: 2px solid;
    border-color: #003399;
    color: #ffffff;
    background-color: #003399;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
    
input[type="submit" i]:disabled  {
    border: 2px solid;
    border-color: #808080;
    color: #808080;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.formular {
    border: 2px solid #808080;
    padding: 10px 5px 10px 5px;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.image img {
    width: 100%;


}

@media screen and (max-width: 956px) {

    .image img {
        width: 100%;

    }

}

