@import url(css/header.css);
@import url(css/content.css);
@import url(css/footer.css);
@import url(css/game.css);

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
} 

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    flex: 1 100%;
}

.section-boxen {
    display: flex;
    justify-content: space-evenly;
}

.div40 {
    width: 40%;
}

.div60 {
    width: 60%;
}

@media screen and (max-width: 956px) {

    .section-boxen {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
    }

    .div40 {
        width: 100%;
    }

    .div60 {
        width: 100%;
    }

}
